In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
## 데이터 전처리

import pandas as pd
import numpy as np
import sys
import pickle

## 데이터 시각화
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
## 딥러닝 모델링

from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import joblib
import itertools
import os
import warnings
np.set_printoptions(threshold=sys.maxsize)
warnings.filterwarnings(action='ignore')

In [3]:
file_path = 'C:/Users/SPAI/중급/train_data.csv'
file_path2 = 'C:/Users/SPAI/중급/test_data.csv'
file_path3 = 'C:/Users/SPAI/중급/train_label.csv'
datapath = 'C:/Users/SPAI/중급/'

In [4]:
trn_df = pd.read_csv(file_path)
tst_df = pd.read_csv(file_path2)
lab_df = pd.read_csv(file_path3)

In [5]:
trn_df = trn_df.drop(['ID'],axis=1)
tst_df = tst_df.drop(['ID'],axis=1)
lab_df = lab_df.drop(['ID'],axis=1)

In [6]:
scaler = MinMaxScaler()

In [7]:
file_path = scaler.fit(trn_df)
print(scaler.n_samples_seen_, scaler.data_min_, scaler.data_max_, scaler.feature_range)

1173760 [-3.6195614 -5.8968425 -4.385735 ] [3.6801076 4.599791  4.074743 ] (0, 1)

In [8]:
df_values = trn_df.values
datalist = []
datalist.append(df_values)
data_array = np.array(trn_df)
data_reshape = data_array.reshape(8960, 131*3)

In [9]:
df_values1 = tst_df.values
datalist1 = []
datalist1.append(df_values1)
data_array1 = np.array(tst_df)
data_reshape1 = data_array1.reshape(2240, 131*3)

In [10]:
trn_df = data_reshape
tst_df = data_reshape1

In [11]:
X_trn = trn_df
Y_trn = lab_df

X_tst = tst_df

In [12]:
X_trn.shape, Y_trn.shape

((8960, 393), (8960, 1))

In [13]:
X_tst.shape

(2240, 393)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [17]:
model = SVC(kernel = 'rbf')

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_trn, Y_trn, test_size=0.1, random_state=100)

In [19]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8064, 393) (896, 393) (8064, 1) (896, 1)

In [20]:
model.fit(X_train, y_train)

SVC()

In [21]:
y_predict = model.predict(X_test)

In [22]:
acc = accuracy_score(y_test, y_predict)
print('accuracy_score : ',acc)

accuracy_score :  0.9944196428571429

In [23]:
test_prediction = model.predict(X_tst)

In [24]:
sample = os.path.join(datapath, 'answer_sample.csv')

In [25]:
sample_submission = pd.read_csv(sample)

In [26]:
sample_submission

         ID  type
0      8960     0
1      8961     0
2      8962     0
3      8963     0
4      8964     0
...     ...   ...
2235  11195     0
2236  11196     0
2237  11197     0
2238  11198     0
2239  11199     0

[2240 rows x 2 columns]

In [27]:
sample_submission['type'] = test_prediction

In [28]:
sample_submission.to_csv('C:/Users/SPAI/중급/test_submission93.csv', index=False)

In [29]:
file_path4 = 'C:/Users/SPAI/중급/test_submission93.csv'

In [30]:
sub = pd.read_csv(file_path4, engine='python')
sub

         ID  type
0      8960     3
1      8961     1
2      8962     4
3      8963     1
4      8964     4
...     ...   ...
2235  11195     3
2236  11196     2
2237  11197     2
2238  11198     1
2239  11199     3

[2240 rows x 2 columns]

In [ ]:
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np