In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
## 데이터 전처리

import pandas as pd
import numpy as np
import sys
import pickle

## 데이터 시각화
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
## 딥러닝 모델링

from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from scipy.stats import skew, kurtosis
import joblib
import itertools
import os
import warnings
np.set_printoptions(threshold=sys.maxsize)
warnings.filterwarnings(action='ignore')

In [3]:
file_path = 'C:/Users/SPAI/중급/train_data.csv'
file_path2 = 'C:/Users/SPAI/중급/test_data.csv'
file_path3 = 'C:/Users/SPAI/중급/train_label.csv'
datapath = 'C:/Users/SPAI/중급/'

In [4]:
trn_df = pd.read_csv(file_path, engine='python')
tst_df = pd.read_csv(file_path2, engine='python')
lab_df = pd.read_csv(file_path3, engine='python')
lab_df = lab_df['type']

In [5]:
lab_df

0       2
1       2
2       2
3       3
4       4
       ..
8955    1
8956    4
8957    4
8958    2
8959    4
Name: type, Length: 8960, dtype: int64

In [6]:
dfmn = trn_df.groupby('ID').mean()
dfst = trn_df.groupby('ID').std()
dfmi = trn_df.groupby('ID').min()
dfma = trn_df.groupby('ID').max()
dfsk = trn_df.groupby('ID').skew() #왜도

In [7]:
k = []
t = []
for i in range(8960):
    k = trn_df[i:i+130]
    p = k['sensor_A'].kurtosis()
    t.append(p)

In [8]:
k1 = []
t1 = []
for i in range(8960):
    k1 = trn_df[i:i+130]
    p1 = k1['sensor_B'].kurtosis()
    t1.append(p1)

In [9]:
k2 = []
t2 = []
for i in range(8960):
    k2 = trn_df[i:i+130]
    p2 = k2['sensor_C'].kurtosis()
    t2.append(p2)

In [10]:
dfku = pd.DataFrame([t])
dfku = dfku.T

In [11]:
dfku1 = pd.DataFrame([t1])
dfku1 = dfku1.T

In [12]:
dfku2 = pd.DataFrame([t2])
dfku2 = dfku2.T

In [13]:
trn_df = pd.concat([dfmn,dfst,dfmi,dfma,dfsk,dfku,dfku1,dfku2],axis=1)
trn_df

,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,0,0,0
0.0,-0.062685,0.014724,-0.056515,0.988268,1.210087,0.980058,-1.815408,-2.627131,-2.768976,2.245526,2.952710,2.432525,0.521596,0.175776,-0.165921,-0.858887,-0.412198,-0.232947
1.0,-0.153611,0.014196,-0.078285,0.900904,0.973971,0.908227,-1.493521,-2.378179,-2.310316,1.911610,2.803103,2.155641,0.564537,0.326462,0.000843,-0.832779,-0.420513,-0.229271
2.0,0.051289,0.043324,-0.057817,1.036681,1.036154,1.088889,-1.752650,-2.369333,-3.462210,2.308284,2.413387,1.934155,0.295918,0.012605,-0.666971,-0.856089,-0.434534,-0.247021
3.0,0.063667,0.018329,-0.067171,0.893419,1.221790,1.083317,-1.581868,-3.308527,-2.258773,1.949018,2.616859,2.710428,0.249805,-0.296168,0.311712,-0.871426,-0.482056,-0.212623
4.0,-0.196459,-0.052498,-0.121069,0.948502,0.745984,1.043245,-1.786668,-2.697356,-2.426879,1.936368,2.025064,1.805276,0.506458,-0.258511,-0.092705,-0.883867,-0.431891,-0.221324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955.0,0.070798,0.033142,-0.051450,1.081704,0.933349,0.939368,-2.127417,-2.238808,-2.182695,2.143425,2.134018,2.508128,-0.080680,-0.292391,0.279585,-0.697273,1.386264,-0.069003
8956.0,0.030234,-0.018972,-0.109389,0.998156,0.909103,1.048331,-1.691912,-2.325185,-2.138404,1.907844,2.276148,1.986155,0.065697,0.040335,0.272105,-0.713817,1.361130,-0.109361
8957.0,-0.147562,-0.013614,-0.003018,0.993478,1.099060,0.928519,-1.480673,-2.384529,-2.732372,1.921837,2.822242,1.643246,0.714042,0.062787,-0.796413,-0.759605,1.376165,-0.139870
8958.0,0.137001,0.061176,-0.031824,1.041318,0.818964,1.050959,-1.519794,-1.637522,-2.859407,2.160748,3.012346,3.033175,0.379977,0.353045,0.324909,-0.767341,1.461685,-0.130018
8959.0,-0.087678,-0.032589,-0.016548,0.972985,1.213935,1.129651,-1.654360,-3.351871,-2.379579,1.698838,2.944690,2.247099,0.233153,-0.286142,-0.433915,-0.811637,1.561135,-0.106887

In [14]:
dfmn1 = tst_df.groupby('ID').mean()
dfst1 = tst_df.groupby('ID').std()
dfmi1 = tst_df.groupby('ID').min()
dfma1 = tst_df.groupby('ID').max()
dfsk1 = tst_df.groupby('ID').skew() #왜도

In [15]:
k = []
t = []
for i in range(2240):
    k = tst_df[i:i+130]
    p = k['sensor_A'].kurtosis()
    t.append(p)
k1 = []
t1 = []
for i in range(2240):
    k1 = tst_df[i:i+130]
    p1 = k1['sensor_B'].kurtosis()
    t1.append(p1)
k2 = []
t2 = []
for i in range(2240):
    k2 = tst_df[i:i+130]
    p2 = k2['sensor_C'].kurtosis()
    t2.append(p2)
dfku0 = pd.DataFrame([t])
dfku0 = dfku0.T
dfku10 = pd.DataFrame([t1])
dfku10 = dfku10.T
dfku20 = pd.DataFrame([t2])
dfku20 = dfku20.T

In [16]:
new_index = []

for i in range(2240):
    new_index.append(float(i+8960))
    
new_index = pd.DataFrame(new_index)
new_index.columns = ['ID']

In [17]:
dfkuku = pd.concat([dfku0,dfku10,dfku20,new_index],axis=1)
dfkuku.columns = ['sensor_A', 'sensor_B', 'sensor_C', 'ID']
dfkuku

      sensor_A  sensor_B  sensor_C       ID
0    -0.804265 -0.200289 -0.580695   8960.0
1    -0.783893 -0.193444 -0.582595   8961.0
2    -0.753696 -0.224812 -0.584761   8962.0
3    -0.790378 -0.272697 -0.553291   8963.0
4    -0.810839 -0.254097 -0.533124   8964.0
...        ...       ...       ...      ...
2235 -1.379756 -0.168899 -0.385826  11195.0
2236 -1.369774 -0.166182 -0.412978  11196.0
2237 -1.273067 -0.115782 -0.392926  11197.0
2238 -1.256130 -0.099296 -0.356850  11198.0
2239 -1.250641 -0.101513 -0.342422  11199.0

[2240 rows x 4 columns]

In [18]:
dfkuku = dfkuku.set_index('ID')
dfkuku

         sensor_A  sensor_B  sensor_C
ID
8960.0  -0.804265 -0.200289 -0.580695
8961.0  -0.783893 -0.193444 -0.582595
8962.0  -0.753696 -0.224812 -0.584761
8963.0  -0.790378 -0.272697 -0.553291
8964.0  -0.810839 -0.254097 -0.533124
...           ...       ...       ...
11195.0 -1.379756 -0.168899 -0.385826
11196.0 -1.369774 -0.166182 -0.412978
11197.0 -1.273067 -0.115782 -0.392926
11198.0 -1.256130 -0.099296 -0.356850
11199.0 -1.250641 -0.101513 -0.342422

[2240 rows x 3 columns]

In [19]:
tst_df = pd.concat([dfmn1,dfst1,dfmi1,dfma1,dfsk1,dfkuku],axis=1)
tst_df

,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C,sensor_A,sensor_B,sensor_C
ID,,,,,,,,,,,,,,,,,,
8960.0,0.071084,-0.069369,-0.075136,1.064367,0.969900,1.059073,-2.143235,-2.285735,-2.239960,2.293006,2.914095,2.300860,-0.011280,0.202557,0.272653,-0.804265,-0.200289,-0.580695
8961.0,0.031851,0.021130,0.050976,1.084123,0.957770,1.064134,-2.269555,-2.268553,-2.401180,2.335526,3.197478,2.883419,-0.066405,0.052269,-0.081803,-0.783893,-0.193444,-0.582595
8962.0,-0.094004,0.021193,-0.049337,0.991206,0.910789,0.958661,-1.593307,-2.397788,-2.287381,1.981793,3.172244,2.038992,0.372964,0.173876,-0.348163,-0.753696,-0.224812,-0.584761
8963.0,-0.032039,0.040759,0.008774,1.122295,1.064096,0.919389,-2.899868,-4.473934,-1.777084,2.076592,2.085305,2.319964,-0.299933,-0.945332,0.637122,-0.790378,-0.272697,-0.553291
8964.0,-0.027369,0.052631,-0.079393,0.993172,1.039673,1.173177,-1.569395,-3.011533,-2.589172,1.882426,2.558500,2.539626,0.197350,-0.409999,0.109854,-0.810839,-0.254097,-0.533124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11195.0,0.091232,0.004996,0.014900,0.894748,0.916014,1.123445,-2.603755,-2.872310,-2.339551,2.058825,1.964740,2.415459,0.087783,-0.381140,0.034210,-1.379756,-0.168899,-0.385826
11196.0,0.053182,0.040998,0.031626,1.042445,0.709999,0.980311,-1.629263,-2.096825,-3.277595,2.154216,2.420189,1.994715,0.414141,0.080736,-1.032300,-1.369774,-0.166182,-0.412978
11197.0,0.059639,0.030932,0.021782,1.076124,0.823452,1.034795,-1.731937,-1.673851,-3.317743,2.202882,2.444603,2.202676,0.373674,0.179471,-0.730592,-1.273067,-0.115782,-0.392926
11198.0,-0.001770,0.007180,0.066414,0.925331,1.052979,0.996140,-2.118622,-3.248447,-2.529880,2.115083,2.354236,2.457832,-0.120664,-0.596103,0.289504,-1.256130,-0.099296,-0.356850
11199.0,0.048410,-0.008800,-0.021946,0.994392,0.969629,0.929404,-1.920219,-3.026202,-1.646191,2.063344,3.020111,2.037872,0.039837,-0.328653,0.190446,-1.250641,-0.101513,-0.342422

In [20]:
trn_df.shape

(8960, 18)

In [21]:
tst_df.shape

(2240, 18)

In [22]:
# df_values = trn_df.values
# datalist = []
# datalist.append(df_values)
# data_array = np.array(trn_df)
# data_reshape = data_array.reshape(8960, 18, 1)

In [23]:
# df_values1 = tst_df.values
# datalist1 = []
# datalist1.append(df_values1)
# data_array1 = np.array(tst_df)
# data_reshape1 = data_array1.reshape(2240, 18, 1)

In [24]:
# trn_df = data_reshape
# tst_df = data_reshape1

In [25]:
X_trn = trn_df
Y_trn = lab_df

X_tst = tst_df

In [26]:
X_trn.shape, Y_trn.shape

((8960, 18), (8960,))

In [27]:
X_tst.shape

(2240, 18)

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras import optimizers
from keras.callbacks import EarlyStopping
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [29]:
model = KNeighborsClassifier(n_neighbors = 7)
model.fit(X_trn, Y_trn)

KNeighborsClassifier(n_neighbors=7)

In [30]:
test_prediction = model.predict(X_tst)

In [31]:
sample = os.path.join(datapath, 'answer_sample.csv')

In [32]:
sample_submission = pd.read_csv(sample, engine='python')

In [33]:
sample_submission

         ID  type
0      8960     0
1      8961     0
2      8962     0
3      8963     0
4      8964     0
...     ...   ...
2235  11195     0
2236  11196     0
2237  11197     0
2238  11198     0
2239  11199     0

[2240 rows x 2 columns]

In [34]:
sample_submission['type'] = test_prediction

In [35]:
sample_submission.to_csv('C:/Users/SPAI/중급/test_submission92.csv', index=False)

In [36]:
file_path4 = 'C:/Users/SPAI/중급/test_submission92.csv'

In [37]:
sub = pd.read_csv(file_path4, engine='python')

In [38]:
sub

         ID  type
0      8960     3
1      8961     3
2      8962     4
3      8963     1
4      8964     2
...     ...   ...
2235  11195     3
2236  11196     2
2237  11197     2
2238  11198     1
2239  11199     3

[2240 rows x 2 columns]

In [39]:
# from sklearn.metrics import f1_score
# print('f1_score:', f1_score(X_trn, Y_trn, average='micro'))

In [40]:
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

In [41]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=20, shuffle=True, random_state=100)

In [42]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, X_trn, Y_trn, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.85491071 0.86830357 0.88169643 0.83482143 0.87723214 0.87723214
 0.87053571 0.84821429 0.88169643 0.88839286 0.87276786 0.88169643
 0.87723214 0.87053571 0.86607143 0.87723214 0.85714286 0.88616071
 0.86383929 0.86607143]