In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
## 데이터 전처리

import pandas as pd
import numpy as np
import sys
import pickle

## 데이터 시각화
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
## 딥러닝 모델링

from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
import joblib
import itertools
import missingno as msno
import os
import warnings
np.set_printoptions(threshold=sys.maxsize)
warnings.filterwarnings(action='ignore')

In [3]:
file_path = 'E:/중급/train_data.csv'
file_path2 = 'E:/중급/test_data.csv'
file_path3 = 'E:/중급/train_label.csv'
datapath = 'E:/중급/'

In [4]:
trn_df = pd.read_csv(file_path)
tst_df = pd.read_csv(file_path2)
lab_df = pd.read_csv(file_path3)

In [5]:
for i in range(8960):
    for j in trn_df[trn_df['ID'] == j]:
        print(sensor_A)

      ID  sensor_A  sensor_B  sensor_C
0    0.0 -0.781257 -0.368624 -0.668834
1    0.0  0.152001 -1.032890  0.013465
2    0.0 -1.815408 -0.501477 -1.103025
3    0.0 -0.402909  2.288443 -0.792889
4    0.0 -1.109159  2.819857 -0.544780
..   ...       ...       ...       ...
126  0.0 -0.175901  0.694203 -0.784106
127  0.0  1.841955 -0.501477 -0.970187
128  0.0  0.757358 -0.501477 -0.660051
129  0.0  0.883474  0.694203 -1.962622
130  0.0  2.245526  0.561350 -0.598024

[131 rows x 4 columns]

In [6]:
trn_df = trn_df.drop(['ID'],axis=1)
tst_df = tst_df.drop(['ID'],axis=1)
lab_df = lab_df.drop(['ID'],axis=1)

In [7]:
scaler = MinMaxScaler()

In [8]:
file_path = scaler.fit(trn_df)
print(scaler.n_samples_seen_, scaler.data_min_, scaler.data_max_, scaler.feature_range)

1173760 [-3.6195614 -5.8968425 -4.385735 ] [3.6801076 4.599791  4.074743 ] (0, 1)

In [9]:
df_values = trn_df.values
datalist = []
datalist.append(df_values)
data_array = np.array(trn_df)
data_reshape = data_array.reshape(8960, 131*3)

In [10]:
df_values1 = tst_df.values
datalist1 = []
datalist1.append(df_values1)
data_array1 = np.array(tst_df)
data_reshape1 = data_array1.reshape(2240, 131*3)

In [11]:
trn_df = data_reshape
tst_df = data_reshape1

In [12]:
X_trn = trn_df
Y_trn = lab_df

X_tst = tst_df

In [13]:
X_trn.shape, Y_trn.shape

((8960, 393), (8960, 1))

In [14]:
X_tst.shape

(2240, 393)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, train_test_split

In [16]:
model = RandomForestClassifier(n_estimators=200)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X_trn, Y_trn, test_size=0.1, random_state=100)

In [18]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8064, 393) (896, 393) (8064, 1) (896, 1)

In [19]:
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [20]:
y_predict = model.predict(X_test)

In [21]:
# mean_squared_error(y_test, y_predict, squared=False)

In [22]:
acc = accuracy_score(y_test, y_predict)
print('accuracy_score : ',acc)

accuracy_score :  0.9832589285714286

In [23]:
test_prediction = model.predict(X_tst)

In [24]:
sample = os.path.join(datapath, 'answer_sample.csv')

In [25]:
sample_submission = pd.read_csv(sample)

In [26]:
sample_submission

         ID  type
0      8960     0
1      8961     0
2      8962     0
3      8963     0
4      8964     0
...     ...   ...
2235  11195     0
2236  11196     0
2237  11197     0
2238  11198     0
2239  11199     0

[2240 rows x 2 columns]

In [27]:
sample_submission['type'] = test_prediction

In [28]:
sample_submission.to_csv('E:/중급/test_submission3.csv', index=False)

In [29]:
f1_score(y_true, y_pred, average='macro')

NameError: name 'f1_score' is not defined