In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
## 데이터 전처리

import pandas as pd
import numpy as np
import sys
import pickle

## 데이터 시각화
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
## 딥러닝 모델링

from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
import joblib
import itertools
import missingno as msno
import os
import warnings
np.set_printoptions(threshold=sys.maxsize)
warnings.filterwarnings(action='ignore')

In [3]:
file_path = 'E:/중급/train_data.csv'

In [4]:
file_path2 = 'E:/중급/test_data.csv'

In [5]:
file_path3 = 'E:/중급/train_label.csv'

In [6]:
trn_df = pd.read_csv(file_path)
trn_df

             ID  sensor_A  sensor_B  sensor_C
0           0.0 -0.781257 -0.368624 -0.668834
1           0.0  0.152001 -1.032890  0.013465
2           0.0 -1.815408 -0.501477 -1.103025
3           0.0 -0.402909  2.288443 -0.792889
4           0.0 -1.109159  2.819857 -0.544780
...         ...       ...       ...       ...
1173755  8959.0  0.835882 -0.445766  0.740738
1173756  8959.0  1.476935  0.038585  1.458053
1173757  8959.0  0.983817  0.159673  1.350456
1173758  8959.0  1.329000  0.401848  0.633141
1173759  8959.0  1.378312 -0.203590  1.135262

[1173760 rows x 4 columns]

In [7]:
tst_df = pd.read_csv(file_path2)
tst_df

             ID  sensor_A  sensor_B  sensor_C
0        8960.0  0.980240  0.253716 -1.597266
1        8960.0  1.251848 -0.471842 -1.340238
2        8960.0  0.165421 -0.109063 -1.383076
3        8960.0  0.889705  1.342052 -1.982807
4        8960.0  0.391760  1.342052 -1.340238
...         ...       ...       ...       ...
293435  11199.0  1.610667  0.970033  2.037872
293436  11199.0  1.293793 -0.118303  1.438140
293437  11199.0  1.339060 -0.360156  1.480978
293438  11199.0  0.660044 -1.085713  1.695169
293439  11199.0  0.433705 -1.811271  1.395302

[293440 rows x 4 columns]

In [8]:
lab_df = pd.read_csv(file_path3)
lab_df

        ID  type
0        0     2
1        1     2
2        2     2
3        3     3
4        4     4
...    ...   ...
8955  8955     1
8956  8956     4
8957  8957     4
8958  8958     2
8959  8959     4

[8960 rows x 2 columns]

In [9]:
print(trn_df.shape)

(1173760, 4)

In [10]:
trn_df.describe()

                 ID      sensor_A      sensor_B      sensor_C
count  1.173760e+06  1.173760e+06  1.173760e+06  1.173760e+06
mean   4.479500e+03 -3.277743e-04 -3.277743e-04 -3.277744e-04
std    2.586530e+03  1.000572e+00  1.000597e+00  1.000605e+00
min    0.000000e+00 -3.619561e+00 -5.896842e+00 -4.385735e+00
25%    2.239750e+03 -8.175240e-01 -6.335718e-01 -7.034006e-01
50%    4.479500e+03 -9.079777e-02  4.057315e-02  2.145573e-02
75%    6.719250e+03  8.063138e-01  6.697789e-01  7.194825e-01
max    8.959000e+03  3.680108e+00  4.599791e+00  4.074743e+00

In [11]:
# scaler=MinMaxScaler()

# trn_df=scaler.fit_transform(trn_df)

In [12]:
X_trn = trn_df.iloc[:,:-1]
Y_trn = trn_df.iloc[:,-1]

X_tst = tst_df.iloc[:,:-1]

In [13]:
X_trn.shape, Y_trn.shape

((1173760, 3), (1173760,))

In [14]:
X_tst.shape

(293440, 3)

In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, train_test_split

In [16]:
model = RandomForestRegressor(n_estimators=200)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X_trn, Y_trn, test_size=0.1, random_state=100)

In [18]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200)

In [19]:
y_predict = model.predict(X_test)

In [25]:
# from sklearn.metrics import f1_score
# # pred = pipe.predict(X_test)
# f1_score(y_test, y_predict)

In [26]:
mean_squared_error(y_test, y_predict, squared=False)

0.9875512824622718

In [27]:
test_prediction = model.predict(X_tst)

In [ ]:
# k = []
# for i in range(2240):
#     k.append(np.median)

In [28]:
datapath = 'E:/중급/'

In [29]:
sample = os.path.join(datapath, 'answer_sample.csv')

In [30]:
sample_submission = pd.read_csv(sample)

In [31]:
sample_submission

         ID  type
0      8960     0
1      8961     0
2      8962     0
3      8963     0
4      8964     0
...     ...   ...
2235  11195     0
2236  11196     0
2237  11197     0
2238  11198     0
2239  11199     0

[2240 rows x 2 columns]

In [35]:
sample_submission['type'] = test_prediction

ValueError: Length of values (293440) does not match length of index (2240)

In [ ]:
sample_submission.to_csv('./test_submission.csv', index=False)